<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.mail.dao.ShippingMapper">
    <delete id="deleteByUidAndShippingId">
        delete from mall_shipping where user_id=#{uid} and id=#{shippingId}
    </delete>
    <select id="getByUidAndShippingId" resultType="com.mooc.mail.bean.Shipping">
        select * from mall_shipping where user_id=#{uid} and id=#{shippingId}
    </select>
    <select id="getShippingsByUid" resultType="com.mooc.mail.bean.Shipping">
        select * from mall_shipping where user_id=#{uid}
    </select>
</mapper>